.elements__card-image {
    width: 282px;
    height: 282px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
}

@media (max-width: 860px) {
    .elements__card-image {
        width: 282px;
        height: 282px;
    }
}