.profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0 50px 0;
}

@media (max-width: 910px) {
    .profile {
        padding-left: 19px;
        padding-right: 19px;
    }
}

@media (max-width: 720px) {
    .profile {
        padding-top: 42px;
        flex-direction: column;
    }
}