.elements__card {
    position: relative;
    max-width: 282px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #000;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    overflow: -moz-hidden-unscrollable;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
}