.popup__close-btn {
    position: absolute;
    top: -40px;
    right: -40px;
    width: 46px;
    height: 46px;
    outline: none;
    border: none;
    background-image: url("../../../images/close-btn-icon.svg");
    background-color: rgba(0, 0, 0, .0);
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

@media (max-width: 600px) {
    .popup__close-btn {
        top: -56px;
        right: 0;
    }
}